 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}  

#header {
  text-align: center;
  font-size: 31px;
} 

#navbar {
  width: 100%;
  line-height: 2.4;
  height: 100%;
  margin-top: 3rem;
} 


#navbar > ul {
  width: 100%;
  border:  1px solid #3b3b4f;
}  

#navbar > ul > li {
  list-style: none;
  border:  1px solid #3b3b4f;
} 

li > a {
  text-decoration: none;
  color: black;
  padding: 20px;
} 

body {
  width: 100%;
  height: auto;
} 

.sub {
  font-size: 30px;
  line-height: 1;
  text-align: center;
} 

p {
  text-align: center;
  padding: 20px;
  word-spacing: 3px;
  line-height: 2;
} 

.r {
  padding-bottom: 30px;
  padding-top: 0; 
} 

section > ul {
  padding: 0 30px 0 30px;
} 

section > ul > li {
  text-decoration: none;
  color: black;
  line-height: 2;
  padding: 10px 20px 30px 20px;
} 

div { 
  padding: 13px;
  line-height: 2;
  background-color: GhostWhite;
} 
